html {
    font-family: 'Muli', sans-serif;
    background-color: #F1F1F1
}

.lable {
    font-family: 'Titillium Web', sans-serif;
}

==============
/*the below; my nav bar*/

.111 {
    background-color: aquamarine;
}

.nav {
    background-color: aquamarine;
    color: black;
    padding-top: 10px;
    display: block;
    padding-bottom: 18px;
}

ul {
    text-decoration: none;
}

li {
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color: black;
}

a {
    color: black;
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
}

li a: hover {
    color: burlywood;
}
